.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

button {
    border-radius: 5%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.tags-margin{
  margin : 0px 10px 0px 0px
}

.headerIcon a{
  color : white
}

.center {
  text-align : center;
}
.fixedLeftColumn{
  position : fixed;
  width: 300px;
}

.fixedHeaderGrid1RightColumn{
  position : fixed;
  width: 300px;
  overflow: auto;
  max-height: 50vh;
}
.fixedHeaderGrid2RightColumn{
  position : fixed;
  width: 300px;
  overflow: auto;
  max-height: 50vh;
  margin-top: 330px;

}
.trendingEvents{
  margin: 5px 5px 5px 5px;
}

.login-page{
  width: 400px;
  margin: auto;
  padding: 0% 0 0;
  height: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 40px;
  padding: 45px;
  text-align: left;
  width: 400px;

}


.login-form {
  width: 318px;
  height: 250px;
}


.register-form {
    width: 318px;
    height: 250px;
}


.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form .errorMsg{
  color : red;
  font-family : "Roboto", sans-serif;
  margin-top: 5px;
}


.form .successMsg{
  color : green;
  font-family : "Roboto", sans-serif;
  margin-top: 5px;
}

.radio-pink [type="radio"]:checked+label:after {
    border-color: #e91e63;
    background-color: #e91e63;
}
/*Gap*/

.radio-pink-gap [type="radio"].with-gap:checked+label:before {
    border-color: #e91e63;
}

.radio-pink-gap [type="radio"]:checked+label:after {
    border-color: #e91e63;
    background-color: #e91e63;
}

.center {
  text-align: center;
}

.right {
  text-align :right;
}

.red {
  color: red;
  text-align: center;
}
.green {
  color: red;
  text-align: center;
}
.w3-top .w3-theme-d2, .w3-theme-d4 {
    color: #fff !important;
    background-color: black !important
}

.w3-theme {
    color: #fff !important;
    background-color: black !important
}










